{% load static %}

<header id="header">

    <div class="inner">
        <!-- Logo -->
        <a href="{% url 'store:home' %}" class="logo">
            <span class="symbol"></span><span class="title">Home</span>
        </a>
        <!-- Nav -->
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
            <br>
            <ul class="actions">
                <li>
                    <a href="{% url 'cart:cart' %}">
                    <h2>Корзина</h2></a>
                    <br>
                    <a href="{% url 'users:profile' %}">
                    <h2>Профиль</h2></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Menu -->
<nav id="menu">
    <h2>Меню</h2>
    <ul>
        <li><a href="{% url 'store:tag_list' %}">Все категории</a></li>
    </ul>
</nav>